/* header */
.header-container {
    display: flex;
    align-items: center;
    gap: 64px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 28px;
}

.header-logo {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 23.961px;
    font-style: normal;
    font-weight: 900;
    line-height: 80.5%;
    /* 19.288px */
    letter-spacing: 0.315px;
    text-transform: uppercase;
    display: flex;
    width: 185.096px;
    align-items: center;
}

.header-link {
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.header-pages {
    display: flex;
    gap: 64px;
}