/* hills */
.hills {
  background-image: url(../images/hill1.png), url(../images/hill2.png);
  background-position: left right;
  padding-top: 171px;
  padding-bottom: 116px;
  @media screen and (min-width:1200px) {
    padding-top: 249px;
    padding-bottom: 256px;
  }

  &__title {
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 36px;
    max-width: 314px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      max-width: 614px;
      margin-bottom: 32px;
    }
  }

  &__text {
    color: var(--paragraph-dark, #6f7787);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    max-width: 314px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 470px;
    }
  }

  &__btn {
    color: var(--neutral-white, #fff);
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-radius: 122px;
    background: #dd2242;
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 23px;
    padding-bottom: 23px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 36px;
    @media screen and (min-width: 1200px) {
        padding-left: 56px;
        padding-right: 56px;
        padding-top: 18.5px;
        padding-bottom: 18.5px;
      }
  }
}
